fastapi==0.111.0
uvicorn==0.29.0
joblib==1.4.2
xgboost==2.0.3
numpy>=2.0.0,<3
pandas==3.0.3
rasterio>=1.4.0,<2
requests==2.31.0
pydantic==2.7.1
scikit-learn==1.4.2
pytest==8.2.0
slowapi==0.1.9
python-json-logger==2.0.7
twilio==9.3.0
supabase==2.6.0
python-dotenv==1.0.1